.app.dark {
    --bg-color: rgb(57, 52, 52);
    --inverted-bg-color: rgb(56, 181, 156);

    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(255, 255, 255);
    --inverted-primary-color: rgb(79, 68, 209);
    --inverted-secondary-color: rgb(198, 62, 62);
}